<div class="index-container">
	<div class="skeleton">
		<div class="intro">
			<% if params["/"][:location].empty? %>
				<h1>Excelent places to stay!</h1>
			<% else %>
				<h1>Places in <%= params["/"][:location].match(/^(.+?),/)%> enjoy your visit!</h1>
			<% end %>
				<div class="d-flex justify-content-left">
					<button type="button" class="btn btn-outline-secondary rounded-pill mr-2">Type of place</button>
					<button type="button" class="btn btn-outline-secondary rounded-pill mr-2">Price</button>
					<button type="button" class="btn btn-outline-secondary rounded-pill mr-2">Instant Book</button>
					<button type="button" class="btn btn-outline-secondary rounded-pill mr-2">More filters</button>
				</div>
			<p class="my-2">Review COVID-19 travel restrictions before you book. <a href="#" class="" style="text-decoration: underline; color: black"> Learn more</a></p>
	</div>

<div class="cards">
		<% if @flats.length == 0 %>
			<h1>Sorry, there are no flats near the area you are looking for!</h1>
		<% else %>
			<% @flats.each do |flat| %>
				<div class="card-product row">
					<div class="col-md-12 col-lg-4">
						<%= cl_image_tag flat.photos.sample.key %>
					</div>
					<div class="card-product-infos col-md-12 col-lg-4 ml-lg-3 ml-md-0 ">
						<p>Entire apartment in <%= flat.location %></p>
						<h4><%= flat.name %></h4>
						<i class="fas fa-dollar-sign"></i><%= flat.price %>
            <i class="fas fa-users"></i><%= flat.guests %>
            <i class="fas fa-bath"></i>  <%= flat.bathroom%>
						<i class="fas fa-bed"></i> <%= flat.bedroom%>
            <% if flat.pool  %>
							<i class="fas fa-swimmer"></i>
						<% end  %>
						<% if flat.wifi  %>
							<i class="fas fa-wifi"></i>
						<% end  %>
							<div class="lower-price">
								<i class="fas fa-tag"></i> New lower price
							</div>
							<p><i class="fas fa-star"></i> <%= rand(3.0..5.0).round(2) %></p>
							<%= link_to "More Info", flat_path(flat)%>
					</div>
				</div>
			<% end %>
			</div>
				<%= paginate @flats, theme: 'twitter-bootstrap-4' %>
			</div>

			<div id="map" style="width: 40%; height: 100vh;"
				data-markers="<%= @markers.to_json %>"
				data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
			</div>
		<% end %>
</div>
