<div class="index-container">
	<div class="skeleton">
		<div class="intro">
			<p>300+ stays · Feb 10 - 12</p>
			<h1>Stays in Palermo</h1>
				<div class="d-flex justify-content-left">
					<button type="button" class="btn btn-outline-secondary rounded-pill mr-2">Type of place</button>
					<button type="button" class="btn btn-outline-secondary rounded-pill mr-2">Price</button>
					<button type="button" class="btn btn-outline-secondary rounded-pill mr-2">Instant Book</button>
					<button type="button" class="btn btn-outline-secondary rounded-pill mr-2">More filters</button>	
				</div>
			<p class="my-2">Review COVID-19 travel restrictions before you book. <a href="#" class="" style="text-decoration: underline; color: black"> Learn more</a></p>	
	</div>

	<div class="cards">
		<% @flats.each do |flat| %>
			<div class="card-product h-100">
				<%= cl_image_tag flat.photos.sample.key %>
				<div class="card-product-infos">
					<p>Entire apartment in <%= flat.location %></p>
					<h4><%= flat.name %></h4>
					<p>2 guests - Studio - 1 bed</p>
						<div class="lower-price">
							<i class="fas fa-tag"></i> New lower price
						</div>
						<p><i class="fas fa-star"></i> <%= rand(3.0..5.0).round(2) %></p>
						<%= link_to "More Info", flat_path(flat)%>
				</div>
			</div>
		<% end %>
	</div>

	</div>

		<div id="map" style="width: 40%; height: 100vh;"
			data-markers="<%= @markers.to_json %>"
			data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>		


	</div>