<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://a0.muscache.com/im/pictures/1fe846d6-f32b-4928-8016-035964af42fa.jpg?im_w=1440');">
  <div class="container">
    <h1>Airbnb Turna Style</h1>
    <h3>Book your next stay.</h3>
    <nav class="navbar navbar-light bg-light rounded-pill px-5">
      <div class="row">
        <div class="col">
          <p class="text-dark fs-6 fw-light mb-0">Location</p>
          <input type="text" class="form-control" placeholder="Where are you going?" aria-label="Location">
        </div>
        <div class="col">
          <p class="text-dark mb-0">Check in</p>
          <input type="text" class="form-control" placeholder="Add dates" aria-label="Add dates">
        </div>
        <div class="col">
          <p class="text-dark mb-0">Check out</p>
          <input type="text" class="form-control" placeholder="Add dates" aria-label="Add dates">
        </div>
        <div class="col">
          <p class="text-dark mb-0">Guests</p>
          <input type="text" class="form-control" placeholder="Add guests" aria-label="Add guests">
        </div>
        <div class="col mb-0">
          <%= link_to "Show Flats", flats_path, class: "btn btn-primary mt-4" %>
        </div>
      </div>
    </nav>
        
  </div>
</div>

<h2 class= "text-center my-5">Live anywhere</h2>

<div class="container my-3">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-12 col-md-4 col-lg-3 mt-3">
        <div class="card h-100">
          <%= cl_image_tag flat.photos.first.key %>
          <div class="card-body">
            <p>Entire apartment in <%= flat.location %></p>
            <h4><%= flat.name %></h4>
            <p>2 guests - Studio - 1 bed</p>
              <div class="lower-price">
                <i class="fas fa-tag"></i> New lower price
              </div>
                <p><i class="fas fa-star"></i> <%= rand(3.0..5.0).round(2) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

